<mat-card>
  <form [formGroup]="postForm">
    <mat-card-title>
      <mat-form-field class="form-group">
        <input matInput placeholder="Post Title" class="form-control" formControlName="title" required>
      </mat-form-field>
      <mat-error *ngIf="(errors$ | async) && (errors$ | async).title">{{(errors$ | async).title}}</mat-error>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <textarea matInput placeholder="Post Content" class="form-control" formControlName="body"></textarea>
      </mat-form-field>
      <mat-error *ngIf="(errors$ | async) && (errors$ | async).body">{{(errors$ | async).body}}</mat-error>
    </mat-card-content>
    <app-tag-chips [selectedTags]="newPostTags$"
                   (added)="tagAdded($event)"
                   (removed)="tagRemoved($event)"></app-tag-chips>
    <mat-card-actions>
      <button mat-raised-button (click)="addPost()">Create</button>
      <mat-error *ngIf="(errors$ | async)">Something went wrong. 😓</mat-error>
    </mat-card-actions>
  </form>
</mat-card>
