<div class="page">
  <mat-card class="post" *ngIf="(post$ | async) as post">
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-content>{{ post.body }}</mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end none">
      <img class="new-comment-icon" matRipple src="../assets/images/comment-icon.png" (click)="openNewCommentBottomSheet()">
    </mat-card-actions>
  </mat-card>
  <mat-card class="comments" *ngIf="(commentsLoaded$ | async)">
    <mat-card-subtitle>Comments</mat-card-subtitle>
    <mat-card-content>
      <sonder-comment-tree [comments]="comments$"></sonder-comment-tree>
    </mat-card-content>
  </mat-card>
</div>
