<sonder-loading-splash *ngIf="loading$ | async"></sonder-loading-splash>
<!-- <sonder-tag-chips [selectedTags]="postFilterTags$" [tags]="tags$" [allowNew]="false" (added)="tagAdded($event)" (removed)="tagRemoved($event)">
</sonder-tag-chips> -->

<mat-nav-list
  class="list"
  fxLayout="column"
  fxLayoutAlign="start none"
  role="list">
  <div *ngFor="let post of (posts$ | async)" role="listitem">
    <sonder-post-item *ngIf="post" [post]="post" [profile]="profilesQuery.getEntity(post.profileId)"></sonder-post-item>
  </div>
</mat-nav-list>
