<mat-card class="post-item" mat-list-item  role="listitem">
  <mat-card-title [routerLink]="['/posts', post.id]">
    {{post.title}}
  </mat-card-title>
  <mat-card-content>
    {{post.body}}
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between start">
    <sonder-profile [profile]="profile">
    </sonder-profile>
    <!-- <sonder-vote-buttons
      [points]="post.points"
      [voted]="voted"
      (upvoted)="upvote()"
      (downvoted)="downvote()">
    </sonder-vote-buttons> -->
  </mat-card-actions>
</mat-card>
