<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let tag of (selectedTags | async)"
              [selectable]="true"
              [removable]="true"
              (removed)="remove(tag)">
      {{ tag.name }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Tags..."
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="false"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of (suggestedTags$ | async)" [value]="tag.name" [id]="tag.id">
      {{ tag.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
