<div class="page">
  <mat-card class="post">
    <form [formGroup]="postForm">
      <mat-card-title>
        New Post
      </mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field class="form-group">
          <input matInput placeholder="Post Title" class="form-control" formControlName="title" required>
        </mat-form-field>
        <mat-error *ngIf="errors && errors.title">{{ errors.title }}</mat-error>
        <mat-form-field>
          <textarea matInput placeholder="Post Content" class="form-control" formControlName="body"></textarea>
        </mat-form-field>
        <mat-error *ngIf="errors && errors.body">{{ errors.body }}</mat-error>
      </mat-card-content>
      <sonder-tag-chips [selectedTags]="newPostTags$"
                        [tags]="tags$"
                        (added)="tagAdded($event)"
                        (removed)="tagRemoved($event)"></sonder-tag-chips>
      <mat-card-actions>
        <button mat-raised-button (click)="createButtonClicks$.next()">Create</button>
        <mat-error *ngIf="errors">Something went wrong. 😓</mat-error>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
